In [1]:
import pandas as pd
import re
import numpy as np
from sklearn.preprocessing import LabelEncoder

ImportError: cannot import name 'LabelEncoder' from 'sklearn.preprocessing' (unknown location)

In [160]:
df = pd.read_csv('C:\\Users\\VasilisFermelis\\Documents\\FLV.csv')
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay
0,8/9/2022,2:15:16 PM,192.168.1.3,52.85.221.134,55,0.000000
1,8/9/2022,2:15:16 PM,52.85.221.134,192.168.1.3,66,0.014674
2,8/9/2022,2:15:16 PM,2a02:587:7813:500:f0f7:f781:b084:7d42,2a00:1450:4001:80f::2004,75,0.000000
3,8/9/2022,2:15:16 PM,2a00:1450:4001:80f::2004,2a02:587:7813:500:f0f7:f781:b084:7d42,86,0.048090
4,8/9/2022,2:15:18 PM,192.168.1.3,116.202.225.117,55,0.000000
...,...,...,...,...,...,...
14944,8/9/2022,2:21:13 PM,2606:4700:4400::ac40:9aa3,2a02:587:7813:500:b1f1:bd6e:afbb:bcbb,1434,0.000063
14945,8/9/2022,2:21:13 PM,2a02:587:7813:500:b1f1:bd6e:afbb:bcbb,2606:4700:4400::ac40:9aa3,74,0.000017
14946,8/9/2022,2:21:14 PM,2606:4700:4400::ac40:9aa3,2a02:587:7813:500:b1f1:bd6e:afbb:bcbb,1434,0.004248
14947,8/9/2022,2:21:14 PM,2606:4700:4400::ac40:9aa3,2a02:587:7813:500:b1f1:bd6e:afbb:bcbb,1434,0.024639
14948,8/9/2022,2:21:14 PM,2a02:587:7813:500:b1f1:bd6e:afbb:bcbb,2606:4700:4400::ac40:9aa3,74,0.000123

In [161]:
le = LabelEncoder()
df['Source IP address']=le.fit_transform(df['Source IP address'])
df['Destination IP address']=le.fit_transform(df['Destination IP address'])

In [162]:
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay
0,8/9/2022,2:15:16 PM,18,117,55,0.000000
1,8/9/2022,2:15:16 PM,116,18,66,0.014674
2,8/9/2022,2:15:16 PM,82,69,75,0.000000
3,8/9/2022,2:15:16 PM,65,83,86,0.048090
4,8/9/2022,2:15:18 PM,18,1,55,0.000000
...,...,...,...,...,...,...
14944,8/9/2022,2:21:13 PM,47,82,1434,0.000063
14945,8/9/2022,2:21:13 PM,81,51,74,0.000017
14946,8/9/2022,2:21:14 PM,47,82,1434,0.004248
14947,8/9/2022,2:21:14 PM,47,82,1434,0.024639
14948,8/9/2022,2:21:14 PM,81,51,74,0.000123

In [163]:
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#df[df.columns[2:4]] = scaler.fit_transform(df[df.columns[2:4]])

In [164]:
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay
0,8/9/2022,2:15:16 PM,18,117,55,0.000000
1,8/9/2022,2:15:16 PM,116,18,66,0.014674
2,8/9/2022,2:15:16 PM,82,69,75,0.000000
3,8/9/2022,2:15:16 PM,65,83,86,0.048090
4,8/9/2022,2:15:18 PM,18,1,55,0.000000
...,...,...,...,...,...,...
14944,8/9/2022,2:21:13 PM,47,82,1434,0.000063
14945,8/9/2022,2:21:13 PM,81,51,74,0.000017
14946,8/9/2022,2:21:14 PM,47,82,1434,0.004248
14947,8/9/2022,2:21:14 PM,47,82,1434,0.024639
14948,8/9/2022,2:21:14 PM,81,51,74,0.000123

In [165]:
import numpy as np
from datetime import datetime

In [166]:
df.head()

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay
0,8/9/2022,2:15:16 PM,18,117,55,0.000000
1,8/9/2022,2:15:16 PM,116,18,66,0.014674
2,8/9/2022,2:15:16 PM,82,69,75,0.000000
3,8/9/2022,2:15:16 PM,65,83,86,0.048090
4,8/9/2022,2:15:18 PM,18,1,55,0.000000

In [167]:
df['Date'] = pd.to_datetime(df['Date'])

In [168]:
df.head()

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay
0,2022-08-09,2:15:16 PM,18,117,55,0.000000
1,2022-08-09,2:15:16 PM,116,18,66,0.014674
2,2022-08-09,2:15:16 PM,82,69,75,0.000000
3,2022-08-09,2:15:16 PM,65,83,86,0.048090
4,2022-08-09,2:15:18 PM,18,1,55,0.000000

In [169]:
df['date_year'] = df['Date'].dt.year

In [170]:
df['date_month_no'] = df['Date'].dt.month

In [171]:
df['date_day'] = df['Date'].dt.day

In [172]:
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay,date_year,date_month_no,date_day
0,2022-08-09,2:15:16 PM,18,117,55,0.000000,2022,8,9
1,2022-08-09,2:15:16 PM,116,18,66,0.014674,2022,8,9
2,2022-08-09,2:15:16 PM,82,69,75,0.000000,2022,8,9
3,2022-08-09,2:15:16 PM,65,83,86,0.048090,2022,8,9
4,2022-08-09,2:15:18 PM,18,1,55,0.000000,2022,8,9
...,...,...,...,...,...,...,...,...,...
14944,2022-08-09,2:21:13 PM,47,82,1434,0.000063,2022,8,9
14945,2022-08-09,2:21:13 PM,81,51,74,0.000017,2022,8,9
14946,2022-08-09,2:21:14 PM,47,82,1434,0.004248,2022,8,9
14947,2022-08-09,2:21:14 PM,47,82,1434,0.024639,2022,8,9
14948,2022-08-09,2:21:14 PM,81,51,74,0.000123,2022,8,9

In [173]:
df['Time'] = pd.to_datetime(df['Time'])
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay,date_year,date_month_no,date_day
0,2022-08-09,2022-08-29 14:15:16,18,117,55,0.000000,2022,8,9
1,2022-08-09,2022-08-29 14:15:16,116,18,66,0.014674,2022,8,9
2,2022-08-09,2022-08-29 14:15:16,82,69,75,0.000000,2022,8,9
3,2022-08-09,2022-08-29 14:15:16,65,83,86,0.048090,2022,8,9
4,2022-08-09,2022-08-29 14:15:18,18,1,55,0.000000,2022,8,9
...,...,...,...,...,...,...,...,...,...
14944,2022-08-09,2022-08-29 14:21:13,47,82,1434,0.000063,2022,8,9
14945,2022-08-09,2022-08-29 14:21:13,81,51,74,0.000017,2022,8,9
14946,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.004248,2022,8,9
14947,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.024639,2022,8,9
14948,2022-08-09,2022-08-29 14:21:14,81,51,74,0.000123,2022,8,9

In [174]:
df['hour'] = df['Time'].dt.hour
df['min'] = df['Time'].dt.minute
df['sec'] = df['Time'].dt.second

In [175]:
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay,date_year,date_month_no,date_day,hour,min,sec
0,2022-08-09,2022-08-29 14:15:16,18,117,55,0.000000,2022,8,9,14,15,16
1,2022-08-09,2022-08-29 14:15:16,116,18,66,0.014674,2022,8,9,14,15,16
2,2022-08-09,2022-08-29 14:15:16,82,69,75,0.000000,2022,8,9,14,15,16
3,2022-08-09,2022-08-29 14:15:16,65,83,86,0.048090,2022,8,9,14,15,16
4,2022-08-09,2022-08-29 14:15:18,18,1,55,0.000000,2022,8,9,14,15,18
...,...,...,...,...,...,...,...,...,...,...,...,...
14944,2022-08-09,2022-08-29 14:21:13,47,82,1434,0.000063,2022,8,9,14,21,13
14945,2022-08-09,2022-08-29 14:21:13,81,51,74,0.000017,2022,8,9,14,21,13
14946,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.004248,2022,8,9,14,21,14
14947,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.024639,2022,8,9,14,21,14
14948,2022-08-09,2022-08-29 14:21:14,81,51,74,0.000123,2022,8,9,14,21,14

In [176]:
import numpy as np
from datetime import datetime

In [177]:
df

,Date,Time,Source IP address,Destination IP address,Bandwidth,Delay,date_year,date_month_no,date_day,hour,min,sec
0,2022-08-09,2022-08-29 14:15:16,18,117,55,0.000000,2022,8,9,14,15,16
1,2022-08-09,2022-08-29 14:15:16,116,18,66,0.014674,2022,8,9,14,15,16
2,2022-08-09,2022-08-29 14:15:16,82,69,75,0.000000,2022,8,9,14,15,16
3,2022-08-09,2022-08-29 14:15:16,65,83,86,0.048090,2022,8,9,14,15,16
4,2022-08-09,2022-08-29 14:15:18,18,1,55,0.000000,2022,8,9,14,15,18
...,...,...,...,...,...,...,...,...,...,...,...,...
14944,2022-08-09,2022-08-29 14:21:13,47,82,1434,0.000063,2022,8,9,14,21,13
14945,2022-08-09,2022-08-29 14:21:13,81,51,74,0.000017,2022,8,9,14,21,13
14946,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.004248,2022,8,9,14,21,14
14947,2022-08-09,2022-08-29 14:21:14,47,82,1434,0.024639,2022,8,9,14,21,14
14948,2022-08-09,2022-08-29 14:21:14,81,51,74,0.000123,2022,8,9,14,21,14

In [191]:
df.drop(['Date','Time'], axis=1)

,Delay,Source IP address,Destination IP address,Bandwidth,date_year,date_month_no,date_day,hour,min,sec
0,0.000000,18,117,55,2022,8,9,14,15,16
1,0.014674,116,18,66,2022,8,9,14,15,16
2,0.000000,82,69,75,2022,8,9,14,15,16
3,0.048090,65,83,86,2022,8,9,14,15,16
4,0.000000,18,1,55,2022,8,9,14,15,18
...,...,...,...,...,...,...,...,...,...,...
14944,0.000063,47,82,1434,2022,8,9,14,21,13
14945,0.000017,81,51,74,2022,8,9,14,21,13
14946,0.004248,47,82,1434,2022,8,9,14,21,14
14947,0.024639,47,82,1434,2022,8,9,14,21,14
14948,0.000123,81,51,74,2022,8,9,14,21,14

In [192]:
first_column = df.pop('Delay')
df.insert(0, 'Delay', first_column)
df

,Delay,Date,Time,Source IP address,Destination IP address,Bandwidth,date_year,date_month_no,date_day,hour,min,sec
0,0.000000,2022-08-09,2022-08-29 14:15:16,18,117,55,2022,8,9,14,15,16
1,0.014674,2022-08-09,2022-08-29 14:15:16,116,18,66,2022,8,9,14,15,16
2,0.000000,2022-08-09,2022-08-29 14:15:16,82,69,75,2022,8,9,14,15,16
3,0.048090,2022-08-09,2022-08-29 14:15:16,65,83,86,2022,8,9,14,15,16
4,0.000000,2022-08-09,2022-08-29 14:15:18,18,1,55,2022,8,9,14,15,18
...,...,...,...,...,...,...,...,...,...,...,...,...
14944,0.000063,2022-08-09,2022-08-29 14:21:13,47,82,1434,2022,8,9,14,21,13
14945,0.000017,2022-08-09,2022-08-29 14:21:13,81,51,74,2022,8,9,14,21,13
14946,0.004248,2022-08-09,2022-08-29 14:21:14,47,82,1434,2022,8,9,14,21,14
14947,0.024639,2022-08-09,2022-08-29 14:21:14,47,82,1434,2022,8,9,14,21,14
14948,0.000123,2022-08-09,2022-08-29 14:21:14,81,51,74,2022,8,9,14,21,14

In [211]:
df.drop(['Date','Time'], axis=1)

,Delay,Source IP address,Destination IP address,Bandwidth,date_year,date_month_no,date_day,hour,min,sec
0,0.000000,18,117,55,2022,8,9,14,15,16
1,0.014674,116,18,66,2022,8,9,14,15,16
2,0.000000,82,69,75,2022,8,9,14,15,16
3,0.048090,65,83,86,2022,8,9,14,15,16
4,0.000000,18,1,55,2022,8,9,14,15,18
...,...,...,...,...,...,...,...,...,...,...
14944,0.000063,47,82,1434,2022,8,9,14,21,13
14945,0.000017,81,51,74,2022,8,9,14,21,13
14946,0.004248,47,82,1434,2022,8,9,14,21,14
14947,0.024639,47,82,1434,2022,8,9,14,21,14
14948,0.000123,81,51,74,2022,8,9,14,21,14

In [212]:
df.to_csv('C:\\Users\\VasilisFermelis\\Desktop\\FLV.csv')

In [202]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,3:12]
y = df.iloc[:,0] 

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [204]:
y

0        0.000000
1        0.014674
2        0.000000
3        0.048090
4        0.000000
           ...
14944    0.000063
14945    0.000017
14946    0.004248
14947    0.024639
14948    0.000123
Name: Delay, Length: 14949, dtype: float64

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14949 entries, 0 to 14948
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Delay                   14949 non-null  float64
 1   Date                    14949 non-null  datetime64[ns]
 2   Time                    14949 non-null  datetime64[ns]
 3   Source IP address       14949 non-null  int32
 4   Destination IP address  14949 non-null  int32
 5   Bandwidth               14949 non-null  int64
 6   date_year               14949 non-null  int64
 7   date_month_no           14949 non-null  int64
 8   date_day                14949 non-null  int64
 9   hour                    14949 non-null  int64
 10  min                     14949 non-null  int64
 11  sec                     14949 non-null  int64
dtypes: datetime64[ns](2), float64(1), int32(2), int64(7)
memory usage: 1.3 MB

In [206]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [209]:
batch_size = 128
epochs = 100
model = Sequential()
model.add(Dense(64, activation= "relu",input_shape=(9,)))
model.add(Dropout(0.2))
model.add(Dense(64, activation= "relu"))
model.add(Dropout(0.2))
model.add(Dense(1, activation= "linear"))
model.compile(loss= "mse", optimizer= "Adam")
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose =1, validation_split=(0.1))

Epoch 1/100
74/74 [==============================] - 1s 3ms/step - loss: 30636.1895 - val_loss: 72.4461
Epoch 2/100
74/74 [==============================] - 0s 2ms/step - loss: 6839.8579 - val_loss: 474.6538
Epoch 3/100
74/74 [==============================] - 0s 2ms/step - loss: 3147.2043 - val_loss: 78.8958
Epoch 4/100
74/74 [==============================] - 0s 2ms/step - loss: 1676.3906 - val_loss: 131.0228
Epoch 5/100
74/74 [==============================] - 0s 2ms/step - loss: 1091.1282 - val_loss: 70.7046
Epoch 6/100
74/74 [==============================] - 0s 2ms/step - loss: 698.4288 - val_loss: 48.9695
Epoch 7/100
74/74 [==============================] - 0s 2ms/step - loss: 456.7437 - val_loss: 46.0971
Epoch 8/100
74/74 [==============================] - 0s 2ms/step - loss: 331.7518 - val_loss: 45.2553
Epoch 9/100
74/74 [==============================] - 0s 2ms/step - loss: 240.8369 - val_loss: 44.2699
Epoch 10/100
74/74 [==============================] - 0s 2ms/step - loss: 199.5617 - val_loss: 43.0213
Epoch 11/100
74/74 [==============================] - 0s 2ms/step - loss: 148.9939 - val_loss: 41.3759
Epoch 12/100
74/74 [==============================] - 0s 2ms/step - loss: 114.4754 - val_loss: 40.3798
Epoch 13/100
74/74 [==============================] - 0s 2ms/step - loss: 103.4330 - val_loss: 39.1453
Epoch 14/100
74/74 [==============================] - 0s 2ms/step - loss: 87.9062 - val_loss: 38.4618
Epoch 15/100
74/74 [==============================] - 0s 2ms/step - loss: 70.0432 - val_loss: 38.1624
Epoch 16/100
74/74 [==============================] - 0s 2ms/step - loss: 67.2032 - val_loss: 38.1159
Epoch 17/100
74/74 [==============================] - 0s 2ms/step - loss: 60.0577 - val_loss: 37.9462
Epoch 18/100
74/74 [==============================] - 0s 2ms/step - loss: 56.4686 - val_loss: 37.9857
Epoch 19/100
74/74 [==============================] - 0s 2ms/step - loss: 49.7236 - val_loss: 37.7756
Epoch 20/100
74/74 [==============================] - 0s 2ms/step - loss: 52.3314 - val_loss: 37.6872
Epoch 21/100
74/74 [==============================] - 0s 2ms/step - loss: 41.3355 - val_loss: 37.7726
Epoch 22/100
74/74 [==============================] - 0s 2ms/step - loss: 42.2455 - val_loss: 37.5595
Epoch 23/100
74/74 [==============================] - 0s 2ms/step - loss: 41.1655 - val_loss: 37.5985
Epoch 24/100
74/74 [==============================] - 0s 2ms/step - loss: 39.7025 - val_loss: 37.5691
Epoch 25/100
74/74 [==============================] - 0s 2ms/step - loss: 36.8104 - val_loss: 37.5262
Epoch 26/100
74/74 [==============================] - 0s 2ms/step - loss: 35.9140 - val_loss: 37.4700
Epoch 27/100
74/74 [==============================] - 0s 2ms/step - loss: 35.5874 - val_loss: 37.5289
Epoch 28/100
74/74 [==============================] - 0s 2ms/step - loss: 33.5160 - val_loss: 37.4252
Epoch 29/100
74/74 [==============================] - 0s 2ms/step - loss: 32.4319 - val_loss: 37.4400
Epoch 30/100
74/74 [==============================] - 0s 2ms/step - loss: 32.2063 - val_loss: 37.4626
Epoch 31/100
74/74 [==============================] - 0s 2ms/step - loss: 33.9275 - val_loss: 37.5060
Epoch 32/100
74/74 [==============================] - 0s 2ms/step - loss: 31.0243 - val_loss: 37.4908
Epoch 33/100
74/74 [==============================] - 0s 2ms/step - loss: 30.8375 - val_loss: 37.4644
Epoch 34/100
74/74 [==============================] - 0s 2ms/step - loss: 31.0677 - val_loss: 37.4166
Epoch 35/100
74/74 [==============================] - 0s 2ms/step - loss: 31.7049 - val_loss: 37.3485
Epoch 36/100
74/74 [==============================] - 0s 2ms/step - loss: 29.5770 - val_loss: 37.4701
Epoch 37/100
74/74 [==============================] - 0s 2ms/step - loss: 29.3507 - val_loss: 37.3632
Epoch 38/100
74/74 [==============================] - 0s 2ms/step - loss: 28.9844 - val_loss: 37.3869
Epoch 39/100
74/74 [==============================] - 0s 2ms/step - loss: 28.6442 - val_loss: 37.3220
Epoch 40/100
74/74 [==============================] - 0s 2ms/step - loss: 28.9447 - val_loss: 37.3439
Epoch 41/100
74/74 [==============================] - 0s 2ms/step - loss: 28.0836 - val_loss: 37.3380
Epoch 42/100
74/74 [==============================] - 0s 2ms/step - loss: 27.8616 - val_loss: 37.4549
Epoch 43/100
74/74 [==============================] - 0s 2ms/step - loss: 28.9637 - val_loss: 37.2961
Epoch 44/100
74/74 [==============================] - 0s 2ms/step - loss: 26.8579 - val_loss: 37.2945
Epoch 45/100
74/74 [==============================] - 0s 2ms/step - loss: 27.8283 - val_loss: 37.3583
Epoch 46/100
74/74 [==============================] - 0s 2ms/step - loss: 27.4529 - val_loss: 37.2988
Epoch 47/100
74/74 [==============================] - 0s 2ms/step - loss: 26.9366 - val_loss: 37.3436
Epoch 48/100
74/74 [==============================] - 0s 2ms/step - loss: 27.3287 - val_loss: 37.3142
Epoch 49/100
74/74 [==============================] - 0s 2ms/step - loss: 28.0258 - val_loss: 37.4507
Epoch 50/100
74/74 [==============================] - 0s 2ms/step - loss: 26.7241 - val_loss: 37.5000
Epoch 51/100
74/74 [==============================] - 0s 2ms/step - loss: 26.5074 - val_loss: 37.4141
Epoch 52/100
74/74 [==============================] - 0s 2ms/step - loss: 26.3779 - val_loss: 37.3226
Epoch 53/100
74/74 [==============================] - 0s 2ms/step - loss: 25.9163 - val_loss: 37.2533
Epoch 54/100
74/74 [==============================] - 0s 2ms/step - loss: 26.1496 - val_loss: 37.3382
Epoch 55/100
74/74 [==============================] - 0s 2ms/step - loss: 26.4499 - val_loss: 37.5444
Epoch 56/100
74/74 [==============================] - 0s 2ms/step - loss: 26.2194 - val_loss: 37.3223
Epoch 57/100
74/74 [==============================] - 0s 2ms/step - loss: 27.1332 - val_loss: 37.2420
Epoch 58/100
74/74 [==============================] - 0s 2ms/step - loss: 25.8304 - val_loss: 37.3094
Epoch 59/100
74/74 [==============================] - 0s 2ms/step - loss: 25.7959 - val_loss: 37.2052
Epoch 60/100
74/74 [==============================] - 0s 2ms/step - loss: 26.5535 - val_loss: 37.3897
Epoch 61/100
74/74 [==============================] - 0s 2ms/step - loss: 26.1244 - val_loss: 37.1916
Epoch 62/100
74/74 [==============================] - 0s 2ms/step - loss: 26.1163 - val_loss: 37.2046
Epoch 63/100
74/74 [==============================] - 0s 2ms/step - loss: 25.8582 - val_loss: 37.0852
Epoch 64/100
74/74 [==============================] - 0s 2ms/step - loss: 25.9687 - val_loss: 37.2535
Epoch 65/100
74/74 [==============================] - 0s 2ms/step - loss: 25.9408 - val_loss: 37.3016
Epoch 66/100
74/74 [==============================] - 0s 2ms/step - loss: 25.8581 - val_loss: 37.4832
Epoch 67/100
74/74 [==============================] - 0s 2ms/step - loss: 25.6446 - val_loss: 37.2971
Epoch 68/100
74/74 [==============================] - 0s 2ms/step - loss: 25.7536 - val_loss: 37.2356
Epoch 69/100
74/74 [==============================] - 0s 2ms/step - loss: 25.9655 - val_loss: 37.3657
Epoch 70/100
74/74 [==============================] - 0s 2ms/step - loss: 25.3600 - val_loss: 37.2238
Epoch 71/100
74/74 [==============================] - 0s 2ms/step - loss: 25.7287 - val_loss: 37.2959
Epoch 72/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1597 - val_loss: 37.2322
Epoch 73/100
74/74 [==============================] - 0s 2ms/step - loss: 25.2420 - val_loss: 37.2349
Epoch 74/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0875 - val_loss: 37.1221
Epoch 75/100
74/74 [==============================] - 0s 2ms/step - loss: 25.2944 - val_loss: 37.0947
Epoch 76/100
74/74 [==============================] - 0s 2ms/step - loss: 25.3824 - val_loss: 37.4180
Epoch 77/100
74/74 [==============================] - 0s 2ms/step - loss: 25.2892 - val_loss: 37.1401
Epoch 78/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1588 - val_loss: 37.0600
Epoch 79/100
74/74 [==============================] - 0s 2ms/step - loss: 25.6398 - val_loss: 37.1505
Epoch 80/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1145 - val_loss: 37.2370
Epoch 81/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0017 - val_loss: 36.9969
Epoch 82/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1654 - val_loss: 37.4448
Epoch 83/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0129 - val_loss: 37.3375
Epoch 84/100
74/74 [==============================] - 0s 2ms/step - loss: 25.3663 - val_loss: 37.4514
Epoch 85/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0171 - val_loss: 37.0738
Epoch 86/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0992 - val_loss: 37.4051
Epoch 87/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1064 - val_loss: 37.1129
Epoch 88/100
74/74 [==============================] - 0s 2ms/step - loss: 25.1319 - val_loss: 36.9450
Epoch 89/100
74/74 [==============================] - 0s 3ms/step - loss: 25.3557 - val_loss: 37.3170
Epoch 90/100
74/74 [==============================] - 0s 3ms/step - loss: 25.1575 - val_loss: 37.1459
Epoch 91/100
74/74 [==============================] - 0s 3ms/step - loss: 25.1578 - val_loss: 37.3658
Epoch 92/100
74/74 [==============================] - 0s 2ms/step - loss: 24.9744 - val_loss: 37.0798
Epoch 93/100
74/74 [==============================] - 0s 2ms/step - loss: 25.7978 - val_loss: 37.0987
Epoch 94/100
74/74 [==============================] - 0s 2ms/step - loss: 25.2217 - val_loss: 37.2612
Epoch 95/100
74/74 [==============================] - 0s 2ms/step - loss: 24.9343 - val_loss: 37.2870
Epoch 96/100
74/74 [==============================] - 0s 2ms/step - loss: 24.9177 - val_loss: 37.0968
Epoch 97/100
74/74 [==============================] - 0s 2ms/step - loss: 25.0611 - val_loss: 37.1669
Epoch 98/100
74/74 [==============================] - 0s 2ms/step - loss: 25.3011 - val_loss: 37.2118
Epoch 99/100
74/74 [==============================] - 0s 3ms/step - loss: 25.2527 - val_loss: 37.3998
Epoch 100/100
74/74 [==============================] - 0s 2ms/step - loss: 25.2420 - val_loss: 36.9887

In [210]:
new_sample = [[116,18,66,2022,8,9,14,15,16]]
output = model.predict(new_sample)
print(output)

1/1 [==============================] - 0s 60ms/step
[[0.67628056]]